body {
    background-color: #05355e;
}

.navbar-default {
    background-color: #114674;
    border-color: #114670;

    .navbar-brand, .navbar-text {
        color: #f9f8f7;

        &:focus, &:hover {
            color: #f9f8f7;
        }
    }
}

.btn-default {
    background-color: #044984;
    border-color: #044984;
    color: #f9f8f7;

    &:focus, &:hover, &:active, &.active {
        background-color: #033D6D;
        border-color: #033D6D;
        color: #f9f8f7;
    }
}

.well {
    background-color: #777;
    border-color: #f9f8f7;
    color: #222;
    font-size: 20px;
}

a {
    color: #0072bc;
}

.text-muted {
    color: #999;
}
